workflows/RAG Charger
{
  "name": "RAG Charger",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "f2a9f31f-c3dc-4724-baa7-3ee271b6f89d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://www.agh.edu.pl/home/ckim/dokumenty/regulaminy/Regulamin_studiow_AGH_2020_tekst_ujednolicony_2020_09.pdf#page=32.14",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        432,
        0
      ],
      "id": "03335a92-79b0-4ecc-8404-791da6d9897b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        640,
        0
      ],
      "id": "fde147af-8aba-4bfa-a47d-4afb645fa06d",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-rag-pdf",
          "mode": "list",
          "cachedResultName": "n8n-rag-pdf"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        848,
        0
      ],
      "id": "f39130a7-5291-42bf-97f3-e6d87673c2b9",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "PjNMdjklTG6GL7vY",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1024,
        160
      ],
      "id": "6088dc69-bcd0-44f6-bf82-c99cd0ad2f2f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1136,
        304
      ],
      "id": "074e7156-d904-4545-b0e1-4502aa7daf6e",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        784,
        192
      ],
      "id": "9e9d008d-50a2-4952-891a-bf236c9c6a56",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "G7FKDNegsEnBBmO9",
          "name": "HuggingFaceApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "21b5585e-d5d9-4dc6-8b4d-9bfc8625a46b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1210a0589fc0eef529df546f0c53500ccaf8711af2341e2838e3eb7de57cdb8c"
  },
  "id": "ZSGpluZ7MtYLaT65",
  "tags": []
}
